@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.color-gray {
  color: #727272;
}

.paragraph {
  padding: 20px 0;
  line-height: 26px;
  font-size: 15px;
  font-weight: 400;
}

header {
  padding: 20px 0;
  background: rgba(255, 144, 14, 0.1);
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin-left: 40px;
  color: #424242;
}

/* banner styles start */

.banner-section {
  margin: 20px 0;
}

.banner-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.banner-container h1 {
  font-size: 50px;
  font-weight: 700;
  color: #131313;
}

.banner-container button {
  padding: 12px 25px;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}

.banner-container button:hover {
  background-color: black;
}

.banner-container img {
  margin-top: 40px;
  width: 100%;
}

/* our feture section style start  */

.our-feture-section {
  padding: 40px 0;
}

.our-feture-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex: 1;
  gap: 20px;
  align-items: center;
}

.our-feture-img {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-feture-img img {
  width: 100%;
  margin: auto;
}

.our-feture-descrip {
  width: 50%;
  padding-left: 10px;
}

.our-span {
  color: #131313;
}

.feture-span {
  color: #ff900e;
}

.our-feture-container button {
  padding: 14px 25px;
  background-color: #ff900e;
  color: #fff;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 17px;
}

.our-feture-container button:hover {
  background-color: black;
}

/* .our-feture-descrip {
} */

/* responsive styles start */

/* mobile responsive style start */

@media screen and (max-width: 576px) {
  .our-feture-container,
  header nav {
    flex-direction: column;
  }

  header nav ul {
    padding-top: 10px;
  }

  header nav ul li a {
    margin-left: 15px;
  }

  header nav,
  .our-feture-descrip,
  .our-feture-img,
  .our-feture-container,
  .banner-container {
    width: 95%;
  }

  .banner-container h1 {
    font-size: 30px;
  }
}

/* midium styles start */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header nav ul li a {
    margin-left: 15px;
  }
  header nav,
  .banner-container {
    width: 95%;
  }
}
